.container {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
}

.submit {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 41px;
}

.order {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.wrapper {
  padding: 16px 16px 16px 0;
}

.wrapper_scroll {
  padding: 16px 8px 16px 0;
  max-height: 494px;
  overflow-y: scroll;
  composes: custom-scroll from global;
}

.item:not(:last-child) {
  margin-bottom: 16px;
}
