.container {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
}

.submit {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 41px;
}

.order {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.wrapper {
  margin-bottom: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.wrapper_scroll {
  padding-right: 8px;
  margin-bottom: 16px;
  max-height: 494px;
  overflow-y: scroll;
  composes: custom-scroll from global;
}

.placeholder_top {
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 536px;
  min-height: 80px;
  border-radius: var(--top-constructor-item-border-radius);
  background-color: var(--background-element);
  color: #f2f2f3;
}

.placeholder_bottom {
  composes: placeholder_top;
  border-radius: var(--bottom-constructor-item-border-radius);
}

.placeholder_middle {
  align-self: flex-end;
  composes: placeholder_top;
  border-radius: var(--common-border-radius-s);
}
