.image_container {
  position: relative;
  height: 64px;
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  margin-right: -20px;
  background-color: #1c1c21;
}

.image_container::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  padding: 2px;
  background: linear-gradient(90deg, #801ab2, #4c4cff);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.image {
  position: relative;
  height: 60px;
  width: 60px;
  object-fit: cover;
}
