.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 60px 40px;
  width: 718px;
  min-height: 538px;
}

.figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading_start {
  align-self: start;
  composes: text_type_main-large from global;
}

.heading_center {
  align-self: center;
  composes: text_type_main-large from global;
}

.image {
  margin-bottom: 16px;
  width: 480px;
  height: 240px;
}

.list {
  display: flex;
  gap: 40px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  display: block;
  margin-bottom: 8px;
}

.name {
  display: block;
}
