.container {
  padding: 24px;
  background-color: #1c1c21;
  border-radius: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.price {
  display: flex;
  align-items: center;
  gap: 8px;
}

.list {
  display: flex;
  position: relative;
}

.item {
  position: relative;
  height: 64px;
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  margin-right: -20px;
  background-color: #1c1c21;
}

.item::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  padding: 2px;
  background: linear-gradient(90deg, #801ab2, #4c4cff);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.image {
  height: 60px;
  width: 60px;
  object-fit: cover;
  inset: 0;
}

.price {
  display: flex;
}

.status_default {
  composes: text text_type_main-default from global;
  margin-bottom: 16px;
}

.status_done {
  composes: status_default;
  color: var(--colors-interface-success);
}

.counter {
  composes: text text_type_main-default from global;
  position: absolute;
  z-index: 6;
  height: 60px;
  width: 60px;
  top: 2px;
  right: -18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(28, 28, 33, 0.6);
}
